$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiare: #99E2D0;
$color-grisclaire:#f6f6f6;
$color-grisfonce:hsl(0, 0%, 82%);
$color-blanc:#ffffff;
$color-gradient:linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 58%);

$font-titre:'Shrikhand', cursive;
$font-text:'Roboto', sans-serif;
$font-size-titrer:4.2vw;
$font-size-textr:3.5vw;

$box-shadow: 0px 4px 10px -4px rgb(0 0 0 / 30%);