@import ".././utils/variables";
@import ".././utils/mixins";
@import ".././components/animations";

main
{
    font-family: $font-text; 
     
}

.elips{
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap; 
    max-width: 100%;
}

#load
{
    opacity: 0;
    animation:load 0.2s;
    animation-fill-mode: backwards;
    animation-delay: 3s;
    width: 80px;
    margin-left: 30px;
}


body{
    margin: unset;
}
.animmain
{
opacity: 0;        
animation:loadmain 0.2s; 
animation-fill-mode: forwards;
animation-delay: 3s;
}

h1
{
font-family: $font-titre;
}

a
{
&:link 
{
text-decoration: none;    
}
&:visited
{
text-decoration: none;     
}
}

ul
{
list-style-type: none;
}

.buttons
{
background: $color-gradient;
color: $color-blanc !important;
width: fit-content;
padding: 14px;
border-radius: 25px;
transition: background-color 400ms, box-shadow 350ms;
margin-top: 2%;
    &:hover{
       @include buttoneffect;
    }    

}
#hed
{
display: flex;
justify-content: space-between;
flex-direction: column;
margin-bottom:-1%;
padding-top: 3%;
}

#locali
{
background-color:#ebebeb;
border-top:4px outset $color-grisopac;
font-weight: bolder;
height: unset;
display: flex;
justify-content: center;
align-items: center;
width: 100%; 
font-size: 3.8vw;
margin-bottom: 1%;
padding:21px 0 19px;
}

#logo
{
margin: 1% 0 0 1%;
width: 44%;
position: relative;
left: 28%;
}
.iconloc
{
margin-right: 2%;
}


#topheader
{
background-color: $color-grisclaire;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
padding: 24px;
padding-bottom: 16%;
font-size: $font-size-titrer;
& h2{
    margin-bottom: -1%;
}
& a {
    font-size: $font-size-textr;
    padding: 4.5%;
    border-radius: 69px;    
}

}

.bottomheader
{
display:flex;
flex-direction: column;
align-content: center;
align-items: center;
justify-content: center;
margin-bottom: 2%;
padding-bottom: 9%;
& h2{
    margin: 9% 0 0 -46%;
    
    font-size: 6.2vw;
   
    
}
&__fonctionitems
{
    background-color: $color-grisclaire;
    font-weight: bold;
    padding:7% 1% 7% 0 ;  
    margin:0 1% 2% 3%;    
    text-align: center;
    width: 88%;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    font-size: $font-size-textr;     
    border-radius: 14px;   
    position: relative;
    @include box-shadow;
    &:hover
    {
        background-color: lighten($color-primaire, 36);       
    }
    &:hover i 
    {
        color: $color-primaire;
    }
    &__iconfon
    {
       color:#8b8b8b;
       margin-left: 14%;
       padding-right: 12%;
       font-size: 5vw;
    }  

    &__roundfun
    {
        background-color:$color-primaire;
        color:$color-blanc;
        border-radius: 30px;
        width: 4%;
        display: inline-flex;
        font-size: $font-size-textr*0.7;        
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -3%;
        padding: 2%;
    
    }
}


}

.restaurantsaccueil
{
background-color: $color-grisclaire;
text-align:center;
display: flex;
flex-direction: row;
align-items: center;
flex-wrap:wrap;
justify-content: flex-start;
padding-bottom: 18px;
}

#restaut
{
   margin: 0 0 0 -27%; 
   padding-top: 5%;   
   width: 100%;       
}

.restaurants
{
border-radius: 30px;
background-color:$color-blanc;
width: 100%;
margin-bottom: 1%;
padding-bottom: 1%;
display: flex;
justify-content: center;
position: relative;
height: 73vw;
margin: 3%;
@include box-shadow;

&__nomresto
{
    font-weight: bolder;
    margin-bottom: -3px;    
}
&__tfoto 
{
    width: 100%;
    padding-top: 3%;
    height: 67%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -3%;
}
&__etiquettenomvil
{
    color: black;
    display: flex;
    flex-direction: column;
    margin: -1% 0 0 5%;    
    align-items: flex-start;
    font-size: 5vw;
    
}
&__newtag
{
  @include newtag;
    position: absolute;
    right: 14px;
    top: 0px;
}

}

.like
{

font-size: 6.5vw;    
color: black;    
   
}


.likeaccueil
{
    position: absolute;
    right: 20px;
    bottom: 41px; 
    &:hover .likefill
    {
        animation: filllike 500ms ease-in;
        animation-fill-mode: both;   
    }
    &:hover .fill2 
    {    
    animation: like2 500ms ease-in;    
    animation-fill-mode: both;
    }   
}

.likefill
{
font-size: 6.5vw;
position: absolute;
right: 28px;
bottom: 49px; 
transform: rotate(48deg);
background: $color-gradientcoeur;
border-top-right-radius: 50%;
border-top-left-radius: 50%;
width: 17px;
height: 22px;
@include heartfill;
}

.fill2
{
    content: '';
    font-size: 6.5vw;
    position: absolute;
    right:20px;
    bottom:48px;
    background: $color-gradientcoeur; 
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;   
    width: 16px;
    transform: rotate(313deg);
    height: 23px;   
    transform-origin: bottom;
    opacity: 0;    
}
.animhomecoeur
    {
        &:hover .likefill
        {
            animation: filllike 500ms ease-in;
            animation-fill-mode: both;   
        }
        &:hover .fill2 
        {    
        animation: like2 500ms ease-in;    
        animation-fill-mode: both;
        }  
        &:hover .likefillrest
        {
            animation: filllike 500ms ease-in;
            animation-fill-mode: both;   
        }
        &:hover .fill2rest 
        {    
        animation: like2 500ms ease-in;    
        animation-fill-mode: both;
        } 

    }



.likefillmenu
{
@include heartfill;

}

footer
{
background-color:#333132;
color: $color-blanc;
display: flex;
flex-direction: column;
}

a:visited
{
    color: inherit;
}

.afoot
{
color: $color-blanc;
}

#logofooter
{
filter: invert(98%) sepia(7%) saturate(297%) hue-rotate(190deg) brightness(119%) contrast(100%);
margin-left: 11%;
padding-top: 6%;
width: 26%;
}
#lienf
{
text-decoration: none;
color: $color-blanc;
}
#footerul
{
display: flex;
width: 79%;
justify-content: space-between;
padding-top: 1%;
padding-bottom:  1%;
flex-direction: column;
font-size:$font-size-textr;
}
#footerul a:link
{
    color: $color-blanc;
}
li
{
    margin-bottom: 2%;
}
.footicon
{
margin-right: 13px;
}

@include loadpage;


@media screen and (min-width:1368px) {
    
    .lds-ring{
        left: 45%;

    }

    
    h1
    {
        font-family: $font-titre;
    }

    a
    {
    
    &:visited
    {
        text-decoration: none;     
    }
    }
    
    .buttons
    {      
        &:hover{
        @include buttoneffect;
        }        

    }   

    #locali
    {
        background-color:#ebebeb;
        border-top:2px groove $color-secondaire;
        font-weight: bolder;
        height: 57px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14%; 
        border-radius: 25px;
        margin-right: 2%; 
        @include box-shadow; 
        position: absolute;
        left: 78%;
        top: 4px; 
        font-size: 1em;
        padding: 2px 0 2px 0;                        
    }
    #logo
    {
        margin:-1% 0 0 1% ;        
        width: 14%;
        position: unset;
    }
    .iconloc
    {
        margin-right: 2%;
    }


    #topheader
    {        
        padding-bottom: 2%;
        border-radius: 78px;
        width: 32%;  
        margin:-4% 0 1% 33% ;                  
        font-size: unset;       
         & a {
        font-size: unset;
        padding: 2.8%;
        }

        @include box-shadow;
       
    }


    .bottomheader
    {        
        flex-direction: row;       
        margin-bottom: 2%;
        padding-bottom: unset;
        & h2{
            margin-bottom: -21.7px;
            font-size: 1.4em;  
            margin-top: unset;   
            margin-left: unset;       
        }
        &__fonctionitems
        {
            background-color: $color-grisclaire;
            font-weight: bold;
            padding:1% 0 1% 36px ;            
            margin-bottom: -1%;
            text-align: center;
            width: 16%;            
            display: flex;
            font-size: 1em;
            justify-content: unset; 
            align-items: center;            
            border-radius: 25px;            
            margin-right: unset;  
            position: relative;
            @include box-shadow;
            &__iconfon
            {
            color:#8b8b8b;
            margin-left: unset;
            font-size: 1.3vw;
            position: relative;            
            left: 3px;
            padding-right:10%;
            }  
            &__roundfun
            {
                background-color:$color-primaire;
                color:$color-blanc;
                border-radius: 30px;
                width: 20px;
                display: inline-flex;
                font-size: 0.7em;
                height: 19px;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: -19px;
            
            }
        }
        
        
    }

    .restaurantsaccueil
    {        
        justify-content: center;        
    }

    #restaut
    {       
        padding-top: 1%;
        width: 100%; 
        margin-left: unset; 
        margin-bottom: unset;     
    }

    .restaurants
    {        
        width: 33%;          
        max-height: 467px;
        margin:1%;  
       
        &__tfoto 
        {
            width: 94%;           
            max-height: 87%;           
            height: 81%;
            margin-top: unset;
        }
        &__etiquettenomvil
        {            
            display: unset;            
            margin-left: unset;
            font-size: unset;            
        }
        &__newtag
        {        
        position: absolute;
        right: 45px;
        top: 18px;
        }
        
    }

    .like
    {
        
        font-size: 1.4em;           
        
    }
    .likeaccueil
    {        
        right: 51px;
        bottom: 34px;
       
    }
    

    .likefill
    {
        font-size: 1.4em;
        position: absolute;
        right: 60px;
        bottom: 40px; 
        width: 15px;
        height: 20px;
        
    }
    .fill2
    {
        right: 50px;
        bottom: 39px;
        width: 15px;
        height: 20px;

    }

    .likefillmenu
    {
        @include heartfill;
    }

    footer
    {       
        flex-direction: row;
    }
    li
    {
        margin-bottom: unset;
    }
   

    #logofooter
    {        
        margin-left: 1%;        
        padding-top: unset;
        width: unset;
    }
    
    #footerul
    {     
        flex-direction: row;
        font-size: unset;       
    }    
    

    
    }

    @media screen and (min-width:720px) and (max-width:1367px)
    {
    .lds-ring{
        left: 45%;        
    }          

    h1
    {
        font-family: $font-titre;
    }

    a
    {    
    &:visited
    {
        text-decoration: none;     
    }

    }  

    .buttons
    {        
            &:hover{
            @include buttoneffect;
            }
    }   

    #locali
    {        
        border-top:2px groove $color-secondaire;        
        height: 51px;        
        width: 22%; 
        font-size: unset;
        padding: 2px 0 2px 0;        
        border-radius: 25px;
        margin-right: 2%; 
        @include box-shadow;
        position: absolute;
        left: 75%;
        top: 4px; 
        
    }
    #logo
    {        
        margin: 1% auto auto 1%;       
        width: 22%;
        position: unset;
    }   


    #topheader
    {        
        
        padding-bottom: 2%;
        border-radius: 78px;
        width: 32%;   
        margin:-51px 0 1% 33%;           
        font-size: unset;
        
         & a {
        font-size: unset;
        padding: 2.8%;
        }

        @include box-shadow;
       
    }


    .bottomheader
    {
        
        flex-direction: row;        
        justify-content: flex-start;
        margin-bottom: 2%;
        padding-bottom: unset;
        & h2{
            margin: -32px 0 -38.7px 6px;            
            font-size: 1.2em;                 
        }
        &__fonctionitems
        {       
            padding: 1% 0 1% 0;            
            margin-bottom: -1%; 
            margin-right: unset;
            margin-left: 4%;            
            width: 23%;            
            font-size: 1em;
            justify-content: center; 
            align-items: center;                    
            border-radius: 25px;                              
            &__iconfon
            {   
            margin:0 0 0 26px;            
            font-size: 1em;
            padding-right: 7px;           
            position: relative;
            left: -2px;
            }  
            &__roundfun
            {                    
                width: 20px;                
                font-size: 0.7em;
                height: 19px;               
                position: absolute;
                left: -19px;            
            }
        }
        
        
    }

    .restaurantsaccueil
    {   
        justify-content: center;        
    }

    #restaut
    {      
        margin-left: unset;  
        margin-bottom: unset;    
    }

    .restaurants
    {
        width: 33%;        
        max-height: 302px;
        margin:2%;    
       
        &__tfoto 
        {
            width: 94%;           
            max-height: 87%;           
            height: 72%;
            margin-top: unset;
        }
        &__etiquettenomvil
        {          
            font-size: unset;  
            display: unset;            
            margin-left: unset;            
        }
        &__newtag
        {       
        position: absolute;
        right: 29px;
        top: 11px;
        }
        
    }

    .like
    {        
        font-size: 1.4em;        
    }

    .likeaccueil
    {        
        right: 18px;
        bottom: 26px;
    }

    .likefill
    {
        font-size: 1.4em;        
        right: 27px;
        bottom: 31px;
        width: 14px;
        height: 21px;                       
    }
    .fill2
    {
        right: 17px;
        bottom: 31px;
        width: 14px;
        height: 20px;        

    }

    .likefillmenu
    {
        @include heartfill;
    }

    footer
    {     
        flex-direction: row;
    }
    li
    {
        margin-bottom: unset;
    } 

    #logofooter
    {
        margin-left: 1%;        
        padding-top: unset;
        width: 19%;
    }
  
    #footerul
    {        
        width: 74%;       
        margin-left: -23px;
        flex-direction: row;
        font-size: 0.94em;
    }    
    .footicon
    {
        margin-right: 1px;
    }

    
    }
    
    
