@keyframes filllike {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes likevide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes loadmain {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes load {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes opacitymenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes selected {
  0% {
    transform-origin: right;
    transform: scaleX(0.2);
  }
  30% {
    transform: scaleX(0.4);
    transform-origin: right;
  }
  50% {
    transform: scaleX(0.6);
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
    transform-origin: right;
  }
}
@keyframes prixmove {
  0% {
    left: 70%;
  }
  30% {
    left: 55%;
  }
  50% {
    left: 40%;
  }
  100% {
    left: 0%;
  }
}
@keyframes checkicon {
  0% {
    transform: rotate(360deg);
    opacity: 0;
  }
  30% {
    transform: rotate(290eg);
    opacity: 1;
  }
  50% {
    transform: rotate(150deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes menuprixitem {
  0% {
    grid-template-columns: 83% 1% 33%;
  }
  100% {
    grid-template-columns: 60% 1% 10%;
  }
}
main {
  font-family: "Roboto", sans-serif;
}

.elips {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

#load {
  opacity: 0;
  animation: load 0.2s;
  animation-fill-mode: backwards;
  animation-delay: 3s;
}

body {
  margin: unset;
}

.animmain {
  opacity: 0;
  animation: loadmain 0.2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

h1 {
  font-family: "Shrikhand", cursive;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.buttons {
  background-color: #FF79DA;
  color: #ffffff;
  width: fit-content;
  padding: 14px;
  border-radius: 25px;
  transition: background-color 400ms, box-shadow 350ms;
  margin-top: 2%;
}
.buttons:hover {
  background-color: #ff93e1;
  box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.99);
}

#hed {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: -1%;
  padding-top: 3%;
}

#locali {
  background-color: #ebebeb;
  border-top: 4px outset #d4d4d4;
  font-weight: bolder;
  height: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3.8vw;
  margin-bottom: 1%;
  padding-top: 21px;
  padding-bottom: 19px;
}

#logo {
  margin-left: 1%;
  margin-top: 1%;
  width: 44%;
  position: relative;
  left: 28%;
}

.iconloc {
  margin-right: 2%;
}

#topheader {
  background-color: #f6f6f6;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  padding-bottom: 16%;
  font-size: 4.2vw;
}
#topheader h2 {
  margin-bottom: -1%;
}
#topheader a {
  font-size: 4vw;
  padding: 4.5%;
  border-radius: 69px;
}

.bottomheader {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  padding-bottom: 9%;
}
.bottomheader h2 {
  margin-top: 9%;
  font-size: 6.2vw;
  margin-left: -46%;
}
.bottomheader__fonctionitems {
  background-color: #f6f6f6;
  font-weight: bold;
  padding-bottom: 7%;
  padding-top: 7%;
  padding-right: 1%;
  margin-bottom: 2%;
  text-align: center;
  width: 88%;
  display: flex;
  justify-content: flex-start;
  font-size: 4vw;
  border-radius: 14px;
  margin-left: 3%;
  margin-right: 1%;
  position: relative;
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3);
}
.bottomheader__fonctionitems:hover {
  background-color: #f4eefc;
}
.bottomheader__fonctionitems:hover i {
  color: #9356DC;
}
.bottomheader__fonctionitems__iconfon {
  color: #8b8b8b;
  margin-left: 14%;
  padding-right: 12%;
  font-size: 5vw;
}
.bottomheader__fonctionitems__roundfun {
  background-color: #9356DC;
  color: #ffffff;
  border-radius: 30px;
  width: 4%;
  display: inline-flex;
  font-size: 2.8vw;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -3%;
  padding: 2%;
}

.restaurantsaccueil {
  background-color: #f6f6f6;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 18px;
}

#restaut {
  padding-top: 1%;
  width: 100%;
  margin-left: -27%;
}

.restaurants {
  border-radius: 30px;
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
  position: relative;
  height: 73vw;
  margin: 3%;
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3);
}
.restaurants__nomresto {
  font-weight: bolder;
  margin-bottom: -3px;
}
.restaurants__tfoto {
  width: 100%;
  padding-top: 3%;
  height: 67%;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -3%;
}
.restaurants__etiquettenomvil {
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  align-items: flex-start;
  font-size: 5vw;
  margin-top: -1%;
}
.restaurants__newtag {
  background-color: #99E2D0;
  color: #008866;
  font-weight: bold;
  width: fit-content;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  right: 14px;
  top: 0px;
}

.like {
  font-size: 6.5vw;
  color: black;
}

.likeaccueil {
  position: absolute;
  right: 20px;
  bottom: 41px;
}

.likefill {
  font-size: 6.5vw;
  position: absolute;
  right: 20px;
  bottom: 41px;
  color: #9356DC;
  transform-origin: bottom;
  opacity: 0;
}
.likefill:hover {
  animation: filllike 500ms ease-in;
  animation-fill-mode: both;
}

.likefillmenu {
  color: #9356DC;
  transform-origin: bottom;
  opacity: 0;
}
.likefillmenu:hover {
  animation: filllike 500ms ease-in;
  animation-fill-mode: both;
}

footer {
  background-color: #333132;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

a:visited {
  color: #ffffff;
}

.afoot {
  color: #ffffff;
}

#logofooter {
  filter: invert(98%) sepia(7%) saturate(297%) hue-rotate(190deg) brightness(119%) contrast(100%);
  margin-left: 11%;
  padding-top: 6%;
  width: 26%;
}

#lienf {
  text-decoration: none;
  color: #ffffff;
}

#footerul {
  display: flex;
  width: 79%;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
  flex-direction: column;
  font-size: 4vw;
}

#footerul a:link {
  color: #ffffff;
}

li {
  margin-bottom: 2%;
}

.footicon {
  margin-right: 13px;
}

.lds-ring {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 41%;
  left: 45%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 8px;
  border: 8px solid #9356DC;
  border-radius: 50%;
  animation: lds-ring 3.89s cubic-bezier(0.5, 0, 0.5, 1);
  animation-fill-mode: forwards;
  border-color: #9356DC transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.lds-ring p {
  padding-top: 38%;
  margin-left: 39%;
  font-weight: bolder;
}

@media screen and (min-width: 1368px) {
  .elips {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
  }

  h1 {
    font-family: "Shrikhand", cursive;
  }

  a:visited {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  .buttons:hover {
    background-color: #ff93e1;
    box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.99);
  }

  #locali {
    background-color: #ebebeb;
    border-top: 2px groove #FF79DA;
    font-weight: bolder;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
    border-radius: 25px;
    margin-right: 2%;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 78%;
    top: 4px;
    font-size: 1em;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  #logo {
    margin-left: 1%;
    margin-top: -1%;
    width: 14%;
    position: unset;
  }

  .iconloc {
    margin-right: 2%;
  }

  #topheader {
    padding-bottom: 2%;
    border-radius: 78px;
    width: 32%;
    margin-left: 33%;
    margin-top: -4%;
    font-size: unset;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3);
  }
  #topheader a {
    font-size: unset;
    padding: 2.8%;
  }

  .bottomheader {
    flex-direction: row;
    margin-bottom: 2%;
    padding-bottom: unset;
  }
  .bottomheader h2 {
    margin-bottom: -38.7px;
    font-size: 1.4em;
    margin-top: unset;
    margin-left: unset;
  }
  .bottomheader__fonctionitems {
    background-color: #f6f6f6;
    font-weight: bold;
    padding-bottom: 1%;
    margin-bottom: -1%;
    text-align: center;
    width: 16%;
    display: flex;
    font-size: 1em;
    justify-content: unset;
    align-items: center;
    padding-right: 0;
    padding-top: 1%;
    padding-left: 36px;
    border-radius: 25px;
    margin-right: unset;
    position: relative;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3);
  }
  .bottomheader__fonctionitems__iconfon {
    color: #8b8b8b;
    margin-left: unset;
    font-size: 1.3vw;
    position: relative;
    left: 3px;
    padding-right: 10%;
  }
  .bottomheader__fonctionitems__roundfun {
    background-color: #9356DC;
    color: #ffffff;
    border-radius: 30px;
    width: 20px;
    display: inline-flex;
    font-size: 0.7em;
    height: 19px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -19px;
  }

  .restaurantsaccueil {
    justify-content: center;
  }

  #restaut {
    padding-top: 1%;
    width: 100%;
    margin-left: unset;
  }

  .restaurants {
    width: 33%;
    max-height: 467px;
    margin: 1%;
  }
  .restaurants__tfoto {
    width: 94%;
    max-height: 87%;
    height: 81%;
    margin-top: unset;
  }
  .restaurants__etiquettenomvil {
    display: unset;
    margin-left: unset;
    font-size: unset;
  }
  .restaurants__newtag {
    position: absolute;
    right: 45px;
    top: 18px;
  }

  .like {
    font-size: 1.4em;
  }

  .likeaccueil {
    right: 51px;
    bottom: 34px;
  }

  .likefill {
    font-size: 1.4em;
    position: absolute;
    right: 51px;
    bottom: 34px;
  }

  .likefillmenu {
    color: #9356DC;
    transform-origin: bottom;
    opacity: 0;
  }
  .likefillmenu:hover {
    animation: filllike 500ms ease-in;
    animation-fill-mode: both;
  }

  footer {
    flex-direction: row;
  }

  li {
    margin-bottom: unset;
  }

  #logofooter {
    margin-left: 1%;
    padding-top: unset;
    width: unset;
  }

  #footerul {
    flex-direction: row;
    font-size: unset;
  }

  .footicon {
    margin-right: 13px;
  }
}
@media screen and (min-width: 720px) and (max-width: 1366px) {
  .elips {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
  }

  h1 {
    font-family: "Shrikhand", cursive;
  }

  a:visited {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  .buttons:hover {
    background-color: #ff93e1;
    box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.99);
  }

  #locali {
    border-top: 2px groove #FF79DA;
    height: 51px;
    width: 22%;
    font-size: unset;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 25px;
    margin-right: 2%;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 75%;
    top: 4px;
  }

  #logo {
    margin-left: 1%;
    margin-top: 1%;
    width: 22%;
    position: unset;
  }

  #topheader {
    padding-bottom: 2%;
    border-radius: 78px;
    width: 32%;
    margin-left: 33%;
    margin-top: -51px;
    margin-bottom: 1%;
    font-size: unset;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3);
  }
  #topheader a {
    font-size: unset;
    padding: 2.8%;
  }

  .bottomheader {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2%;
    padding-bottom: unset;
  }
  .bottomheader h2 {
    margin-bottom: -38.7px;
    font-size: 1.2em;
    margin-top: -14px;
    margin-left: 6px;
  }
  .bottomheader__fonctionitems {
    padding-bottom: 1%;
    margin-bottom: -1%;
    width: 23%;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    border-radius: 25px;
    margin-right: unset;
    margin-left: 4%;
  }
  .bottomheader__fonctionitems__iconfon {
    margin-left: 26px;
    font-size: 1em;
    padding-right: 7px;
    margin-top: unset;
    position: relative;
    left: -2px;
  }
  .bottomheader__fonctionitems__roundfun {
    width: 20px;
    font-size: 0.7em;
    height: 19px;
    position: absolute;
    left: -19px;
  }

  .restaurantsaccueil {
    justify-content: center;
  }

  #restaut {
    margin-left: unset;
  }

  .restaurants {
    width: 33%;
    max-height: 302px;
    margin: 2%;
  }
  .restaurants__tfoto {
    width: 94%;
    max-height: 87%;
    height: 72%;
    margin-top: unset;
  }
  .restaurants__etiquettenomvil {
    font-size: unset;
    display: unset;
    margin-left: unset;
  }
  .restaurants__newtag {
    position: absolute;
    right: 29px;
    top: 11px;
  }

  .like {
    font-size: 1.4em;
  }

  .likeaccueil {
    right: 18px;
    bottom: 26px;
  }

  .likefill {
    font-size: 1.4em;
    right: 18px;
    bottom: 26px;
  }

  .likefillmenu {
    color: #9356DC;
    transform-origin: bottom;
    opacity: 0;
  }
  .likefillmenu:hover {
    animation: filllike 500ms ease-in;
    animation-fill-mode: both;
  }

  footer {
    flex-direction: row;
  }

  li {
    margin-bottom: unset;
  }

  #logofooter {
    margin-left: 1%;
    padding-top: unset;
    width: 19%;
  }

  #footerul {
    width: 74%;
    margin-left: -23px;
    flex-direction: row;
    font-size: 0.94em;
  }

  .footicon {
    margin-right: 1px;
  }
}
.imgrestomenu {
  margin-bottom: -7%;
  max-width: 100%;
  border-radius: 25px;
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3);
}

#logorest {
  margin-left: 23%;
  margin-top: 2%;
  margin-bottom: 1%;
  width: 51%;
}

.tmenusection {
  border-bottom: 2px solid #99E2D0;
  width: 50px;
}

.coeurmenu {
  font-size: 1.2em;
}

.espacement {
  padding-top: 1%;
  margin-top: 11px;
}

.menu > div {
  width: 100%;
}

.menu {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__animationselected {
  background-color: #99E2D0;
  padding: 8vw;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 8%;
  transform: scale(0);
  position: relative;
  left: 45%;
  bottom: 13px;
  height: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__checkedicon {
  font-size: 6vw;
  background-color: #99E2D0;
  border-radius: 39px;
  color: #ffffff;
  display: flex;
  width: 30px;
  justify-content: center;
  margin-left: 2%;
  line-height: 30px !important;
}
.menu__prix {
  font-weight: bold;
  position: relative;
  left: 77%;
  top: 58px;
}
.menu__prix__trigger {
  transform-origin: right;
  position: relative;
  bottom: 83px;
  width: 35%;
  height: 88px;
  left: 64%;
}
.menu__choix {
  background-color: #f6f6f6;
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3);
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
}
.menu__titre {
  font-family: "Shrikhand", cursive;
  text-align: left;
  background-color: #f6f6f6;
  padding-top: 6%;
  padding-bottom: 6px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  width: 92%;
  padding-left: 8%;
  font-size: 6vw;
  margin-top: -7%;
  position: absolute;
}
.menu__like {
  font-size: 6vw;
  display: flow-root !important;
  left: 82%;
  margin-top: unset;
  margin-right: unset;
  margin-left: 81%;
  transform-origin: bottom;
  width: 32px;
}
.menu__likefill {
  font-size: 6vw;
  display: block !important;
  left: 82%;
  bottom: 24px;
  margin-left: 81%;
  margin-top: -6%;
  margin-right: unset;
  color: #9356DC;
  opacity: 0;
  width: 32px;
}
.menu .animationheart {
  transform-origin: bottom;
  position: relative;
}
.menu .animationheart:hover .menu__likefill {
  animation: filllike 500ms ease-in;
  animation-fill-mode: both;
}
.menu .animationheart:hover .menu__like {
  animation: likevide 500ms ease-in;
  animation-fill-mode: both;
}
.menu__button {
  margin-top: 12%;
  margin-bottom: 11%;
  font-size: 3.5vw;
  width: 40%;
  height: 11vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 44px;
  padding: unset;
}
.menu__epd {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 93%;
}
.menu__epd__item {
  background-color: #ffffff;
  border-radius: 19px;
  padding-left: 9px;
  margin-bottom: 3%;
  height: 19vw;
  display: flex;
  flex-direction: column;
  width: 96%;
  margin-left: 6px;
}
.menu__epd__item__titreplat {
  font-weight: bold;
  font-size: 4vw;
}
.menu__epd__item__descriptionprix {
  display: grid;
  grid-template-columns: 83% 1% 33%;
  margin-top: 0px;
  font-size: 3.5vw;
}
.menu__epd__item:hover .menu__epd__item__descriptionprix {
  animation: menuprixitem 300ms linear;
  animation-fill-mode: forwards;
}
.menu__epd__item:hover .menu__checkedicon {
  animation: checkicon 250ms linear;
  animation-fill-mode: both;
}
.menu__epd__item:hover .menu__animationselected {
  animation: selected 300ms linear;
  animation-fill-mode: both;
}
.menu__epd__item:hover .menu__prix {
  animation: prixmove 300ms linear;
  animation-fill-mode: both;
}
.menu__epd__entree1 {
  opacity: 0;
  animation: opacitymenu 300ms;
  animation-delay: 400ms;
  transform-origin: top;
  animation-fill-mode: forwards;
}
.menu__epd__entree2 {
  opacity: 0;
  animation: opacitymenu 300ms;
  animation-delay: 500ms;
  transform-origin: top;
  animation-fill-mode: forwards;
}
.menu__epd__entree3 {
  opacity: 0;
  animation: opacitymenu 300ms;
  animation-delay: 600ms;
  transform-origin: top;
  animation-fill-mode: forwards;
}
.menu__epd__entree4 {
  opacity: 0;
  animation: opacitymenu 300ms;
  animation-delay: 650ms;
  transform-origin: top;
  animation-fill-mode: forwards;
}
.menu__epd__plat1 {
  opacity: 0;
  animation: opacitymenu 300ms;
  animation-delay: 750ms;
  transform-origin: top;
  animation-fill-mode: forwards;
}
.menu__epd__plat2 {
  opacity: 0;
  animation: opacitymenu 300ms;
  animation-delay: 850ms;
  transform-origin: top;
  animation-fill-mode: forwards;
}
.menu__epd__plat3 {
  opacity: 0;
  animation: opacitymenu 300ms;
  animation-delay: 850ms;
  transform-origin: top;
  animation-fill-mode: forwards;
}
.menu__epd__dessert1 {
  opacity: 0;
  animation: opacitymenu 300ms;
  animation-delay: 950ms;
  transform-origin: top;
  animation-fill-mode: forwards;
}
.menu__epd__dessert2 {
  opacity: 0;
  animation: opacitymenu 300ms;
  animation-delay: 1050ms;
  transform-origin: top;
  animation-fill-mode: forwards;
}
.menu__epd__dessert3 {
  opacity: 0;
  animation: opacitymenu 300ms;
  animation-delay: 1150ms;
  transform-origin: top;
  animation-fill-mode: forwards;
}
.menu__section {
  border-bottom: 2px solid #99E2D0;
  width: 50px;
  margin-left: 12px;
  font-size: 4vw;
}
.menu__section__platmargin {
  margin-left: 0%;
}
.menu__section__dessertmargin {
  margin-right: -1%;
}

@media screen and (min-width: 1368px) {
  .imgrestomenu {
    max-width: 27%;
    margin-bottom: unset;
    position: relative;
    bottom: 18%;
    left: 36%;
    border-radius: 25px;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3);
  }

  #logorest {
    width: 14%;
    margin-left: 5%;
  }

  .tmenusection {
    border-bottom: 2px solid #99E2D0;
    width: 50px;
  }

  .coeurmenu {
    font-size: 1.2em;
  }

  .espacement {
    padding-top: 1%;
    margin-top: 11px;
  }

  .menu > div {
    width: 722px;
  }

  .menu {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__animationselected {
    background-color: #99E2D0;
    padding: 28px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 44%;
    transform: scale(0);
    position: relative;
    left: 26%;
    bottom: 19px;
    height: 32px;
    justify-content: unset;
    align-items: unset;
  }
  .menu__checkedicon {
    font-size: 2em;
    background-color: #99E2D0;
    border-radius: 39px;
    color: #ffffff;
    display: flex;
    width: 30px;
    justify-content: center;
    margin-left: 32%;
    line-height: 30px !important;
  }
  .menu__prix {
    font-weight: bold;
    position: relative;
    left: 70%;
    top: 57px;
  }
  .menu__prix__trigger {
    transform-origin: right;
    position: relative;
    bottom: 86px;
    width: 35%;
    height: 88px;
    left: 64%;
  }
  .menu__choix {
    background-color: #f6f6f6;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3);
    width: 40%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: unset;
    padding-top: unset;
  }
  .menu__titre {
    font-family: "Shrikhand", cursive;
    text-align: center;
    background-color: #f6f6f6;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3);
    width: 442px;
    margin-left: 10%;
    margin-bottom: -7px;
    margin-top: 1%;
    font-size: 1.5em;
    position: unset;
  }
  .menu__like {
    font-size: 1.6em;
    text-align: center;
    display: flow-root !important;
    position: absolute;
    left: unset;
    bottom: 5px;
    right: 147px;
    padding-bottom: 0;
    transform-origin: bottom;
    width: unset;
    margin-left: unset;
  }
  .menu__likefill {
    font-size: 1.6em;
    text-align: center;
    display: block !important;
    position: absolute;
    left: unset;
    right: 147px;
    bottom: 5px;
    margin-left: unset;
    margin-top: unset;
    padding-bottom: 0;
    color: #9356DC;
    opacity: 0;
    width: unset;
  }
  .menu .animationheart {
    transform-origin: bottom;
  }
  .menu .animationheart:hover .menu__likefill {
    animation: filllike 500ms ease-in;
    animation-fill-mode: both;
  }
  .menu .animationheart:hover .menu__like {
    animation: likevide 500ms ease-in;
    animation-fill-mode: both;
  }
  .menu__button {
    margin-top: 14%;
    margin-bottom: 11%;
    font-size: unset;
    text-align: unset;
    height: unset;
    padding: 14px;
  }
  .menu__epd {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 69%;
  }
  .menu__epd__item {
    background-color: #ffffff;
    border-radius: 30px;
    padding-left: 29px;
    margin-bottom: 3%;
    height: 88px;
    display: flex;
    flex-direction: column;
    margin-left: unset;
  }
  .menu__epd__item__titreplat {
    font-weight: bold;
    font-size: unset;
  }
  .menu__epd__item__descriptionprix {
    display: grid;
    grid-template-columns: 83% 1% 33%;
    margin-top: 0px;
    font-size: unset;
  }
  .menu__epd__item:hover .menu__epd__item__descriptionprix {
    animation: menuprixitem 300ms linear;
    animation-fill-mode: forwards;
  }
  .menu__epd__item:hover .menu__checkedicon {
    animation: checkicon 250ms linear;
    animation-fill-mode: both;
  }
  .menu__epd__item:hover .menu__animationselected {
    animation: selected 300ms linear;
    animation-fill-mode: both;
  }
  .menu__epd__item:hover .menu__prix {
    animation: prixmove 300ms linear;
    animation-fill-mode: both;
  }
  .menu__epd__entree1 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 400ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__entree2 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 500ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__entree3 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 600ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__entree4 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 650ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__plat1 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 750ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__plat2 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 850ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__plat3 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 850ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__dessert1 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 950ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__dessert2 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 1050ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__dessert3 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 1150ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__section {
    border-bottom: 2px solid #99E2D0;
    width: 50px;
    margin-left: 39%;
    font-size: unset;
  }
  .menu__section__platmargin {
    margin-left: 0%;
  }
  .menu__section__dessertmargin {
    margin-right: -1%;
  }
}
@media screen and (min-width: 720px) and (max-width: 1366px) {
  .imgrestomenu {
    max-width: 100%;
    width: 60%;
    height: 39vw;
    margin-right: 20%;
    margin-left: 20%;
    object-fit: cover;
    margin-bottom: unset;
    position: relative;
    bottom: 18%;
    left: 0%;
    border-radius: 25px;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3);
  }

  #logorest {
    width: 14%;
    margin-left: 5%;
  }

  .tmenusection {
    border-bottom: 2px solid #99E2D0;
    width: 50px;
  }

  .coeurmenu {
    font-size: 1.2em;
  }

  .espacement {
    padding-top: 1%;
    margin-top: 11px;
  }

  .menu > div {
    width: 722px;
  }

  .menu {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__animationselected {
    background-color: #99E2D0;
    padding: 28px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 44%;
    transform: scale(0);
    position: relative;
    left: 26%;
    bottom: 19px;
    height: 32px;
    justify-content: unset;
    align-items: unset;
  }
  .menu__checkedicon {
    font-size: 2em;
    background-color: #99E2D0;
    border-radius: 39px;
    color: #ffffff;
    display: flex;
    width: 30px;
    justify-content: center;
    margin-left: 32%;
    line-height: 30px !important;
  }
  .menu__prix {
    font-weight: bold;
    position: relative;
    left: 70%;
    top: 57px;
  }
  .menu__prix__trigger {
    transform-origin: right;
    position: relative;
    bottom: 86px;
    width: 35%;
    height: 88px;
    left: 64%;
  }
  .menu__choix {
    background-color: #f6f6f6;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3);
    width: 40%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: unset;
    padding-top: unset;
  }
  .menu__titre {
    font-family: "Shrikhand", cursive;
    text-align: center;
    background-color: #f6f6f6;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3);
    width: 442px;
    margin-left: 10%;
    margin-bottom: -7px;
    margin-top: 1%;
    font-size: 1.5em;
    position: unset;
  }
  .menu__like {
    font-size: 1.6em;
    text-align: center;
    display: flow-root !important;
    position: absolute;
    left: unset;
    bottom: 5px;
    right: 147px;
    padding-bottom: 0;
    transform-origin: bottom;
    width: unset;
    margin-left: unset;
  }
  .menu__likefill {
    font-size: 1.6em;
    text-align: center;
    display: block !important;
    position: absolute;
    left: unset;
    right: 147px;
    bottom: 5px;
    margin-left: unset;
    margin-top: unset;
    padding-bottom: 0;
    color: #9356DC;
    opacity: 0;
    width: unset;
  }
  .menu .animationheart {
    transform-origin: bottom;
  }
  .menu .animationheart:hover .menu__likefill {
    animation: filllike 500ms ease-in;
    animation-fill-mode: both;
  }
  .menu .animationheart:hover .menu__like {
    animation: likevide 500ms ease-in;
    animation-fill-mode: both;
  }
  .menu__button {
    margin-top: 14%;
    margin-bottom: 11%;
    font-size: unset;
    text-align: unset;
    height: unset;
    padding: 14px;
  }
  .menu__epd {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 69%;
  }
  .menu__epd__item {
    background-color: #ffffff;
    border-radius: 30px;
    padding-left: 29px;
    margin-bottom: 3%;
    height: 88px;
    display: flex;
    flex-direction: column;
    margin-left: unset;
  }
  .menu__epd__item__titreplat {
    font-weight: bold;
    font-size: unset;
  }
  .menu__epd__item__descriptionprix {
    display: grid;
    grid-template-columns: 83% 1% 33%;
    margin-top: 0px;
    font-size: unset;
  }
  .menu__epd__item:hover .menu__epd__item__descriptionprix {
    animation: menuprixitem 300ms linear;
    animation-fill-mode: forwards;
  }
  .menu__epd__item:hover .menu__checkedicon {
    animation: checkicon 250ms linear;
    animation-fill-mode: both;
  }
  .menu__epd__item:hover .menu__animationselected {
    animation: selected 300ms linear;
    animation-fill-mode: both;
  }
  .menu__epd__item:hover .menu__prix {
    animation: prixmove 300ms linear;
    animation-fill-mode: both;
  }
  .menu__epd__entree1 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 400ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__entree2 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 500ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__entree3 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 600ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__entree4 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 650ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__plat1 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 750ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__plat2 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 850ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__plat3 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 850ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__dessert1 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 950ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__dessert2 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 1050ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__epd__dessert3 {
    opacity: 0;
    animation: opacitymenu 300ms;
    animation-delay: 1150ms;
    transform-origin: top;
    animation-fill-mode: forwards;
  }
  .menu__section {
    border-bottom: 2px solid #99E2D0;
    width: 50px;
    margin-left: 39%;
    font-size: unset;
  }
  .menu__section__platmargin {
    margin-left: 0%;
  }
  .menu__section__dessertmargin {
    margin-right: -1%;
  }
}

/*# sourceMappingURL=style.css.map */
